footer{
   background-color: #f2daffb5;
//    background-color: red;

}
   .footer-div{
       height: 80px;
       color: rgb(88, 86, 86);
      padding-bottom: 0rem;
       padding-left: 0rem;
       padding-right: 0rem;
       box-shadow: 0px 0px 8px 1px rgb(177, 177, 177);
       display: flex;
justify-content: center;
align-items: center;
   }
   .footer-link{
       color: #421196;
       text-underline-offset: 2px;
   }
  