.main {
    height: 83.8vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        .animate-container {
            width: 50%;
            .animate_text {
                font-size: 3rem;
            }
        }
        .btn-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .signup_btn {
color: white;
                background-color: #6c25ff;
                border: none;
                outline: none;
                padding: 12px 0;
                border-radius: 6px;
                width: 300px;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
            }

            .login_btn {
                background-color: #cbbbfb;
                color: black;
                border: none;
                outline: none;
                padding: 12px 0;
                border-radius: 6px;
                width: 300px;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

}
@media(max-width:600px) {
    .container {
flex-direction: column;
gap: 20px;


    }
}